@model IEnumerable<PayrollApp.Models.Department>
@{
    ViewData["Title"] = "Departamentos";
}
<h2>Departamentos</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo Departamento</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.DeptNo</td>
            <td>@item.DeptName</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DeptNo">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.DeptNo">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
