
@{
    ViewBag.Title = "Autenticar";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <main>
        <div>
            <form action="@Url.Action("Autenticar","Home")" method="post">
                <h1>Login</h1>
                <div>
                    <p>
                        <label>Usuario</label>
                        <input type="text" name="usuario" id="usuario" placeholder="usuario"/>
                    </p>
                    <p>
                        <label>Clave</label>
                        <input type="password" name="clave" id="clave" placeholder="contraseña" />
                    </p>
                </div>
                <div class="form-actions">
                    <input type="submit" value="Ingresar" />
                    <a href="">Registrar</a>
                </div>
            </form>
        </div>
    </main>
</body>
</html>